body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:#ffffff;
}

input, button {
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: solid 1px black;
}

button:hover {
    background-color: black;
}
